# Lecture 12

- Register on github
- Create SSH key
- Create a new repository on Github
- Clone github repository into vscode

In [3]:
import pandas as pd
df=pd.read_csv("output.csv")

In [4]:
df.head()

   Unnamed: 0  CASHPOINTID OPERATIONDATE  AMT_SCALED
0           1            0    2020-01-01    0.176635
1           2            0    2020-01-02    0.113692
2           3            0    2020-01-03    0.138361
3           4            0    2020-01-04    0.091481
4           5            0    2020-01-05    0.053469